body {
    font-size: .875rem;
    -webkit-print-color-adjust: exact;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }

  @media (min-width: 670px) {
    .navbar-brand{
      background-color: rgba(20,20,31,.12);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }
  }
  
  .navbar-brand a{
    color: #fff;
  }

  

  .navbar-nav select {
    height: 36px;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    background-color: #354053;
  }

  .form-bg {
    background-color: #354053;
  }

/* 追加 */
  .height-38 {
    height: 38px;
    width: 130px;
  }
  
  header {
    background-color: #346cb0;
    height: 50px;
  }

  .nav-side {
    background: #354053;
  }

  .nav-side a{
    color: #8391a2;
  }

  .nav-side p {
    font-size: 12px;
  }

  .nav-pills .nav-link.active {
    background-color: #354053;
  }

  .item-sample:hover{
    box-shadow: 0 0 4px gray;
  }

  .item-sample p{
    color: black;
  }

  .item-sample a {
    text-decoration: none;
  }

  .nav-a-size {
    height: 75px;
    width: 80px;
    display: block;
  }

  .sample-caption h2{
    font-size: medium;
  }

  main {
    background-color: #f6f7f9;
  }
  .print-preview {
    display: none;
    color: black;
  }
 
  .search{
    width: 90%;
  }

  .nav_sample_img img{
    width :120px;
    height: 90px;
  }

#all_show_result {
  list-style: none;
  padding-left: 5px;
}

.item {
 padding-top: 5px;
 position: relative;
 /* width: 100%; */
}


.template {
  list-style: none;
}

.template a{
  color: black;
  text-decoration: none;
}

.template:hover{
  box-shadow: 0 0 4px gray;
}

.preview-btn{
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  border: none;
  color: gray;
}

/* .preview-margin {
  background-color: white;
  height: 715px;
  width: 525px;
  min-width: 525px;
  padding: 1.5rem;
  box-shadow: 0 0 8px gray;
} */

#preview {
  /* background-image: url(../img/back.jpg); */
  background-size: contain;
  background-color: white;
  height: 715px;
  width: 525px;
  min-width: 525px;
  color: black;
  box-shadow: 0 0 8px gray;
  font-size: 20px;
  padding: 1rem 1rem 1rem 1rem;
}

/* スマホとタブレットは同じサイズ */
@media (max-width: 1000px){
  #preview{
    height: 492px;
    width: 352px;
    min-width: 352px;
    padding: 0.25rem;
  }
}


#preview .position-top-right {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  margin: 12px;
  text-decoration: underline
}

#preview h1{
  font-size: 30px;
}

.contents3 img{
  max-width: 226px;
  max-height: 170px;
}

#preview .contents2 img{
  max-width: 250px;
  max-height: 190px;
}

#preview .contents2 p{
  font-size: 22px;
}

#preview .contents2 ol{
  font-size: 14px;  
}

#preview .contents2 ol{
  padding-left: 50px;
}

#preview .contents1 {
  margin-top: 48px;
}

#preview .contents1 img{
  max-width: 400px;
  max-height: 300px;
}

#preview .contents1 p{
  font-size: 25px;
}

#preview .contents1 ol{
  font-size: 21px;
}

#preview .preview-caption {
  font-size: 14px;
}

.preview-scroll-size {
  width:100%; 
  height: 91vh;
}

pre {
    /* CSS3 */
  white-space: pre-wrap;
  border: none;
}

.search-item-height{
  width:100%; 
  height: 85vh;
}

/* ハンバーガーメニュー */
@media (max-width: 670px) {
  .hamburger-menu {
    width: 100%;
    text-align: center;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    background-color: rgba(42, 42, 42, 0.7);
  }

  .menu-trigger {
    width: 100%;
    padding-top: 14px;
    display: inline-block;
    position: relative;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
  }

  .menu-trigger p {
    color: #fff;
    font-size: 20px;
  }

  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: all .5s .2s;
  }
  .menu-trigger.active span {
    background-color: #fff;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
  }
  .menu-trigger span:nth-of-type(2) {
    top: 12px;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
  }

  .hamburger-nav {
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding-bottom: 60px;
  }

  /* スマホサイズの色調整 */
  .item-sample p, .btn, .template a{
    color: #fff;
  }

  .form-control-dark, .form-bg {
    background-color: #fff;
  }

/* スクロールの調整 */
  .search-item-height {
     height: 50vh; 
  }

  .view_more {
    margin-bottom: 140px;
  }
/* 　previewの調整 */
  #preview h1{
    font-size: 25px;
    margin-top: 10px;
  }

  .contents3 img{
    max-width: 140px;
    max-height: 106px;
  }

  .contents3 p{
    font-size: 17px;
  }

  .contents3 ol {
    font-size: 10px;
    padding: 0 0 0 20px;
  }

  #preview .contents3 .position-top-right {
    font-size: 12px;
  }

  #preview .contents2 img{
    max-width: 170px;
    max-height: 128px;
  }

  #preview .contents2 p{
    font-size: 19px;
  }

  #preview .contents2 .position-top-right {
    font-size: 12px;
  }

  #preview .contents2 ol{
    font-size: 10px;  
  }

  #preview .contents2 ol {
    padding-left: 40px;
  }

  #preview .contents1 img{
    max-width: 250px;
    max-height: 300px;
  }

  #preview .contents1 p{
    font-size: 22px;
  }

  #preview .contents1 ol{
    font-size: 1.06em;
  }

  #preview .contents1 ol {
    padding-left: 30px;
  }

  #preview .contents1 .position-top-right {
    font-size: 14px;
  }
  
  #preview .contents1 {
    margin-top: 35px;
  }

  .responsive-mb {
    margin-bottom: 60px;
  }
}

  @media print{   
    .noprint {
      display: none;
    }
    
    .print-preview{
      display: block;
      background-size: cover;
      width: 340mm;
      height: 490mm;
      padding: 10mm 10mm;
    }

    .print-preview h1{
      font-size: 80px;
      padding: 10px;
    }

    .print-preview .contents3 img{
      max-width: 600px;
      max-height: 450px;
    }

    .print-preview .contents3 p{
      font-size: 50px;
      padding-top: 20px;
      padding-bottom: 0px;
    }
    .print-preview .contents3 ol{
      font-size: 34px; 
      padding-left: 80px;
    }

    .print-preview .contents3 .position-top-right {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 40px;
      margin: 20px 0 ;
      text-decoration: underline;
    }

    .print-preview .contents2 img{
      margin: 0;
      max-width: 700px;
      max-height: 525px;
    }

    .print-preview .contents2 p{
      font-size: 60px;
      padding-top: 20px;
      padding-bottom: 0px;
    }
    .print-preview .contents2 ol{
      font-size: 38px; 
      padding-left: 80px;
    }

    /* .preview-caption ol{
      padding-left: 80px;
    } */

    .print-preview .contents2 .position-top-right {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 45px;
      margin: 55px 0 ;
      text-decoration: underline;
    }

    .print-preview .contents1 img{
      margin-top: 45px;
      max-width: 1000px;
      max-height: 750px;
    }

    .print-preview .contents1 p{
      font-size: 70px;
      padding-top: 80px;
      padding-bottom: 0px;
    }

    .print-preview .contents1 ol{
      font-size: 54px; 
      padding-left: 90px;
      margin-top: 20px;
    }

    .print-preview .contents1 .position-top-right {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 46px !important;
      margin: 85px 0 ;
      text-decoration: underline
    }

    _:-ms-lang(x), .print-preview{
      display: block;
      background-size: cover;
      width: 290mm!important;
      height: 430mm!important;
      padding: 0mm 10mm!important;
    }
  
    _:-ms-lang(x),.print-preview h1{
      font-size: 70px!important;
      padding: 0px!important;
    }

    _:-ms-lang(x),.print-preview .contents3 p{
      font-size: 42px!important;
      padding-top: 10px!important;
      padding-bottom: 0px;
    }

    _:-ms-lang(x),.print-preview .contents3 ol{
      font-size: 32px!important; 
      padding-left: 70px!important;
      margin-top: 15px!important;
    } 

    _:-ms-lang(x),.print-preview .contents3 img{
      max-width: 560px!important;
      max-height: 420px!important;
    }

    _:-ms-lang(x),.print-preview .contents3 .position-top-right {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 35px !important;
      margin: 20px 0 ;
    }

    _:-ms-lang(x),.print-preview .contents2 p{
      font-size: 50px!important;
      padding-top: 10px!important;
      padding-bottom: 0px;
    }

    _:-ms-lang(x),.print-preview .contents2 img{
      max-width: 634px!important;
      max-height: 475px!important;
    }

    _:-ms-lang(x),.print-preview .contents2 ol{
      font-size: 34px!important; 
      padding-left: 70px!important;
      margin-top: 15px!important;
    } 

    _:-ms-lang(x),.print-preview .contents2 .position-top-right {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 35px !important;
      margin: 35px 0 ;
    }

    _:-ms-lang(x),.print-preview .contents1 ol{
      font-size: 45px!important; 
    } 
  } 

